<%- include('partials/header') %>

<h1>Welcome to Home</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quia at,
  fugiat eius voluptatem totam officia dolores odit corporis. In impedit quod
  distinctio magnam nam, sequi numquam illo dolorum architecto. Excepturi,
  dolore odit. Dicta, optio et exercitationem suscipit maxime sapiente obcaecati
  corrupti quisquam eveniet reiciendis? Voluptates officia eius, tempora,
  molestias accusantium labore voluptatum incidunt maxime quos unde temporibus
  distinctio ratione! Aut, molestiae non voluptate eos ad labore cupiditate,
  maxime sit voluptatibus ea iste illo rem, quaerat veniam! Deleniti,
  consequuntur quia exercitationem aspernatur possimus repudiandae sapiente
  aliquid ducimus. Accusamus, repudiandae quaerat. Repellendus sint, a minus
  harum earum veniam distinctio numquam hic accusantium, similique minima soluta
  voluptates commodi, itaque quaerat ullam. Voluptatem dolor inventore beatae
  maiores cum sequi aut obcaecati soluta ipsa. Ut, necessitatibus! Magni dolorem
  sit, fugit nobis atque doloremque eum animi aliquid incidunt culpa ut mollitia
  explicabo ab, aspernatur, excepturi hic minima harum reiciendis optio
  asperiores? Hic consequatur distinctio ea. Consectetur, amet qui. Tempore,
  impedit voluptas. Expedita fuga eum illo deserunt cum id tempora corrupti
  maiores consequuntur quasi, amet ex ea sunt, hic pariatur mollitia minus odit?
  Officiis, quos ut. Ratione ullam nulla aliquid harum adipisci aut vero labore
  ad temporibus sunt. Saepe numquam eaque sapiente. Rem libero fugit voluptate,
  exercitationem optio facilis maiores laboriosam fuga ex doloribus repudiandae
  voluptatibus! Tenetur voluptate tempora sed ratione optio deserunt eum enim
  qui odio perspiciatis, culpa doloremque iure, numquam possimus nisi,
  distinctio ut illum et hic ea eaque. Quae accusamus tempora vero id. Ullam
  consequuntur esse possimus labore fugit iure, placeat nulla earum cum quae
  quis accusamus recusandae. Nisi porro aperiam blanditiis corrupti, autem
  assumenda, veniam qui, officiis repellat ad alias fugiat quo? Quidem,
  possimus. Nisi, explicabo necessitatibus ut nobis, nihil voluptatem, dolores
  nemo optio dolor delectus doloremque commodi et libero maxime nulla a
  asperiores. Praesentium molestias aperiam aliquam doloribus. Illo, ab maxime.
</p>

<%- include('partials/footer') %>
